@model PizzaStoreMVC.ViewModel.PizzaStoreModel

@{
    ViewBag.Title = "CustomerInfo";
}

@using (Html.BeginForm("CustomerInfo", "PizzaStore", FormMethod.Post))
{
    <div class="row">
        @Html.LabelFor(m => m.Customer.ID, Model.Customer.ID)
        @Html.TextBoxFor(m => m.Customer.ID, Model.Customer.ID)

        <button type="submit" class="btn">Get Order History</button>
    </div>

    for (int i = 0; i < Model.History.Count; i++)
    {
        <div class="row">
            <h3>Contact Information</h3>
            <div class="col-sm-3">
                @Html.DisplayFor(m => m.History[i].Customer.Name.FirstName, Model.History[i].Customer.Name.FirstName)

                @Html.DisplayFor(m => m.History[i].Customer.Name.LastName, Model.History[i].Customer.Name.LastName)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(m => m.History[i].Customer.Number.Number, Model.History[i].Customer.Number.Number)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(m => m.History[i].Customer.Email.Email, Model.History[i].Customer.Email.Email)
            </div>
            <div class="col-sm-3">
                @Html.DisplayFor(m => m.History[i].Customer.Address.Address, Model.History[i].Customer.Address.Address)
            </div>
        </div>

        for (int y = 0; y < Model.History[i].Order.Pizzas.Count; y++)
        {
            <div class="row">
                <h4>Pizza Details</h4>
                @Html.DisplayFor(m => m.History[i].Order.Pizzas[y].Size.Name, Model.History[i].Order.Pizzas[y].Size.Name)
                @Html.DisplayFor(m => m.History[i].Order.Pizzas[y].Crust.Name, Model.History[i].Order.Pizzas[y].Crust.Name)
                @Html.DisplayFor(m => m.History[i].Order.Pizzas[y].Sauce.name, Model.History[i].Order.Pizzas[y].Sauce.name)
                @{
                    for (int z = 0; z < Model.History[i].Order.Pizzas[y].Toppings.Count; z++)
                    {
                        @Html.DisplayFor(m => m.History[i].Order.Pizzas[y].Toppings[z].Name, Model.History[i].Order.Pizzas[y].Toppings[z].Name)
                    }
                    for (int x = 0; x < Model.History[i].Order.Pizzas[y].Cheeses.Count; x++)
                    {
                        @Html.DisplayFor(m => m.History[i].Order.Pizzas[y].Cheeses[x].Name, Model.History[i].Order.Pizzas[y].Cheeses[x].Name)
                    }
                }
            </div>

                            }
                        }
                    }

